body, html {
	margin: 0;
	padding: 0;
}
* {
	font-family: Chivo;
	color: #404040;
}
p, input, textarea, td, a {
	font: 400 12px/12px Chivo !important;
}
a {
	text-decoration: none;
	color: #808080;
}
a:hover {
	color: #a0a0a0;
}
a:active {
	color: #202020;
}
p {
	margin: 0 0 10px 0;
}
table.data_entry {
	border-collapse: collapse;
}
table.data_entry td {
	border: solid 1px #c0c0c0;
	padding: 0;
}
table.data_entry td:first-child {
	border-left: 0;
}
table.data_entry td:last-child {
	border-right: 0;
}
th {
	//background-color: #404040;
	//color: #d0d0d0;
	font: 400 12px/12px Chivo !important;
	//padding: 6px 3px;
}
th:first-child {
	border-radius: 5px 0 0 0;
}
th:last-child {
	border-radius: 0 5px 0 0;
}
input[type=text] {
	border: none;
	text-align: center;
	width: 36px;
	background-color: transparent;
	padding: 3px;
	margin: 0;
}
input[type=text]:focus {
	color: #2455a0;
	font-weight: 900 !important;
	background-color: #e0e0e0;
}
input[type=text]::selection {
	background-color: #c0c0c0;
}
input[type=text]::-moz-selection {
	background-color: #c0c0c0;
}
.structural {
	float: left;
	//outline: solid 1px red;
	margin: 0 10px;
}
.leftColumn {
	width: 200px;
}
.mainColumn {
}
.collapsibleSection {
}
.section_definition {
	border: 1px solid #c0c0c0;
	border-radius: 7px 7px 7px 7px;
	box-shadow: 0 2px 3px #a0a0a0;
	margin: 0 0 10px;
}
.section_definition .title {
	background-color: #404040;
	border-radius: 5px 5px 0 0;
	color: #e0e0e0;
	font: 900 13px/13px Chivo;
	padding: 5px 10px;
}
.section_definition .title .char_button {
	float: right;
	display: inline !important;
	color: #e0e0e0;
	padding: 0;
}
.section_definition .title .char_button:hover {
	color: white;
	background-color: transparent !important;
}
.section_definition .contents {
	margin: 10px;
}
.section_id {
	width: 50px;
}
.invalid_input {
	background-color: #ffd0c0 !important;
}
.section_diagram {
	border-collapse: collapse;
}
.key_number.column {
	text-align: center;
}
.key_number.row {
	line-height: 32px;
}
.seat {
	font: 700 13px/13px 'Yanone Kaffeesatz' !important;
	width: 32px;
	height: 32px;
	text-align: center;
}
.purchaseable.seat {
	background-color: white;
	border: solid 1px #d0d0d0;
}
.non_purchaseable.seat {
	border: solid 1px white;
	background-color: #d0d0d0;
}
a.char_button {
	display: inline-block;
	text-decoration: none;
	height: 15px;
	padding: 3px;
}
a.char_button:hover {
	background-color: #d0d0d0;
}
td.no_right_border {
	border-right: 0 !important;
}
td.no_right_border + td {
	border-left: 0 !important;
}
a.button {
	display: inline-block;
	text-decoration: none;
	background-color: #404040;
	color: #d0d0d0;
	padding: 6px;
	border-radius: 5px;
	margin: 10px 0;
}
a.button:hover {
	color: #e8e8e8;
	background-color: #505050;
}
a.button:active {
	color: #a0a0a0;
	background-color: black;
}