/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {
	display: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
	-webkit-backface-visibility: hidden;
} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block; position: relative; z-index: 1;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Styling
*********************************/
.flexslider {
	position: relative;
	height: 360px;
	background: #f9fbfa;
}
.loading .flexslider {
	background: #f9fbfa url(../images/loader.gif) 50% 50% no-repeat;
}
.flex-viewport {
	max-height: 2000px;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	transition: all 1s ease;
}
.loading .flex-viewport {
	height: 360px;
}
.flexslider .slides {zoom: 1;}

.carousel li {margin-right: 5px}


/* Direction Nav */
.flex-direction-nav {
	*height: 0;
}
.flex-direction-nav a {
	width: 38px; 
	height: 45px; 
	margin: -22px 0 0; 
	display: block; 
	background-color: #282828;
	background-image: url(../images/bg_direction_nav.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	position: absolute; 
	top: 50%; 
	z-index: 10; 
	cursor: pointer; 
	text-indent: -9999px; 
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}
.flex-direction-nav .flex-next {
	background-position: 100% 0; 
	right: 0;
}
.flex-direction-nav .flex-prev {
	left: 0;
}
.flex-next:hover,
.flex-prev:hover {
	background-color: #6e9b76;
}
.flex-direction-nav .flex-disabled {
	opacity: .3!important; 
	filter:alpha(opacity=30); 
	cursor: default;
}

/* Control Nav */
.flex-control-nav {
	width: 100%; 
	position: absolute;
	bottom: 0;
	text-align: right;
	z-index: 2;
}
.flex-control-nav li {
	margin: 0 0 0 1px; 
	display: inline-block;
	zoom: 1; 
	*display: inline;
}
.flex-control-paging li a {
	width: 24px;
	height: 24px;
	display: block;
	background: #282828;
	cursor: pointer;
	text-align: center;
	font-size: 11px;
	line-height: 24px;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	position: relative;
	z-index: 2;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}
.flex-control-paging li a:hover { 
	background: #6e9b76;
	text-decoration: none;
}
.flex-control-paging li a.flex-active { 
	background: #6e9b76; 
	cursor: default;
}

/* Caption */
.flex-caption {
	display: block;
	position: absolute;
	z-index: 2;
	left: 11%;
	top: 40%;
}
	.flex-caption h2 {
		text-transform: none;
		font-size: 28px;
		line-height: 1.2em;
		color: #282828;
		font-weight: normal;
	}
		.flex-caption h2 strong {
			font-size: 36px;
			line-height: 1.5em;
			font-weight: normal;
			color: #eb593c;
			display: block;
			text-transform: uppercase;
			padding-left: 40px;
		}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}


/* FlexSlider in the Content via shortcode */
.flexslider__content {
	min-height: 100px;
	height: auto !important;
}
	.flexslider__content img {
		margin: 0;
		vertical-align: top;
	}
.flexslider__content.loading {
	background: #f9fbfa url(../images/loader.gif) 50% 50% no-repeat;
}