table {
  margin-bottom: 20px;
}

table td {
  padding-right: 10px;
}

table.pretty {
  width: 100%;
  margin-bottom: 20px;
}

table.pretty br {
  display: none;
}

table.pretty th,
table.pretty td {
  text-align: center;
  padding: 3px;
}

table.pretty th,
table.pretty tr.section td {
  border-bottom: solid 1px #808080;
}

table.pretty td {
  white-space: nowrap;
  border-bottom: solid 1px #d0d0d0;
}

table.tuition th:nth-child(2),
table.tuition td:nth-child(2) {
  text-align: left;
}

table.expenses th:nth-child(2),
table.expenses td:nth-child(2) {
  text-align: left;
  padding-left: 10px;
}

table.tuition td:last-child {
  font-weight: bold;
  color: #006cb6;
}

table.expenses td:last-child {
  font-weight: bold;
  color: #006cb6;
}

table.expenses tr:last-child td {
  font-weight: bold;
  background-color: white;
}

table.pretty td.swatch {
  width: 20px;
}

ul {
  list-style: disc;
}

table.pretty tr.common td {
  background-color: #bfdaed;
}

#logo {
  padding: 24px 0 16px;
}

.container .grid_1,
.container .grid_2,
.container .grid_3,
.container .grid_4,
.container .grid_5,
.container .grid_6,
.container .grid_7,
.container .grid_8,
.container .grid_9,
.container .grid_10,
.container .grid_11,
.container .grid_12 {
  margin-bottom: 24px;
}

.accordion-wrapper .acc-head a:before {
  text-indent: 1px;
  vertical-align: middle;
}

.mobile_only {
  display: none;
}

@media all and (max-width: 740px) {
  table.pretty th,
  table.pretty td {
    padding: 2px 0;
    font-size: 11px;
  }

  .mobile_only {
    display: inline;
  }

  table.pretty br {
    display: inline;
  }
}

.copyright-primary {
  text-transform: none;
}

.folder_set .folder {
}

.folder_set .folder .title {
  background: url('../images/folder_closed.png') no-repeat left center;
  padding: 5px 0 5px 30px;
  display: block;
}

.folder_set .item {
  background: url('../images/doc.png') no-repeat left center;
  padding: 5px 0 5px 30px;
}

.folder_set .folder.open > .title {
  background: url('../images/folder_open.png') no-repeat left center;
}

.folder_set .folder .contents {
  margin-left: 20px;
  display: none;
}

.list ul li ul li {
  margin-bottom: 0;
}

input[type="tel"] {
  border: 1px solid #c2bfac;
  padding: 6px 10px;
  outline: none;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #777777;
  margin: 0;
  width: 210px;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  background: #ffffff;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

select {
  padding: 6px 10px;
}