/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu {
	line-height:	1.0;
}
.sf-menu ul {
	position:		absolute;
	top:			-999em;
	width:			160px; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:			100%;
}
.sf-menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:			left;
	position:		relative;
}
.sf-menu a {
	display:		block;
	position:	relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			135px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			161px; /* match ul width */
	top:			0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			161px; /* match ul width */
	top:			0;
}

/*** Default SKIN ***/
.sf-menu {
	float: right;
	margin-bottom: -3px;
}
/* Basic */
.sf-menu > li > a {
	padding: 54px 18px 29px 18px;
	text-decoration:none;
	color:#282828;
	font-size: 16px;
	line-height: 1.2em;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	margin-left: 2px;
	margin-bottom: 3px;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;	
}
.sf-menu > li > a:before {
	content:"";
	display: block;
	position: absolute;
	bottom: -3px;
	left: 0;
	right: 0;
	height: 1px;
	z-index: 2;
}
	.sf-menu > li > a span {
		display: block;
		font-size: 11px;
		line-height: 1.2em;
		color: #6e9b76;
		text-shadow: 0 1px 0 #fff;
		text-transform: none;
		font-style: italic;
		font-family: Georgia, "Times New Roman", Times, serif;
		padding-top: 4px;
	}
	.sf-menu > li > a i {
		display: none;
	}

/* Hover */
.sf-menu > li > a:hover,
.sf-menu > li.sfHover > a {
	background: #fafafa;
}

/* Current */
.sf-menu > li.current-menu-item > a,
.sf-menu > li.current-menu-parent > a {
	background: #eb593c;
	color: #fff;
	padding-bottom: 32px;
	margin-bottom: 0;
}
	.sf-menu > li.current-menu-item > a:before,
	.sf-menu > li.current-menu-parent > a:before {
		background: #eb593c;
	}
	.sf-menu > li.current-menu-item > a span,
	.sf-menu > li.current-menu-parent > a span {
		text-shadow: none;
		color: #282828;
	}


/* Submenu */
.sf-menu ul {
	background: #fff;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .13);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .13);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .13);
}
.sf-menu li li {
	float: none;
	padding: 0;
	width: auto;
	font-style: italic;
	font-size: 12px;
	font-family: Georgia, "Times New Roman", Times, serif;
	line-height: 18px;
}
.sf-menu li li a {
	color: #6e9b76;
	padding: 8px 20px;
	text-decoration: none;
	border-top: 1px solid #ebf2ec;
	-webkit-transition: background 0.1s ease-out;
	-moz-transition: background 0.1s ease-out;
	transition: background 0.1s ease-out;
	position: relative;
}
.sf-menu li li:first-child > a {
	border-top: none;
}
.sf-menu li li a:hover,
.sf-menu li li.sfHover > a,
.sf-menu li li.current-menu-item > a {
	background: #bdd4c1;
	color: #fff;
	border-top-color: #b3cbb8;
	margin-bottom: -1px;
	border-bottom: 1px solid #b3cbb8;
	z-index: 1;
}

/* Top Arrow */
.sf-menu ul li:first-child a{
	position: relative;
}
.sf-menu > li > ul > li:first-child > a:before {
	content:"";
	display: block;
	position: absolute;
	left: 14px;
	top: -6px;
	width: 0; 
	height: 0; 
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
}
.sf-menu > li > ul > li:first-child > a:hover:before,
.sf-menu > li > ul > li.sfHover:first-child > a:before,
.sf-menu > li > ul > li.current-menu-item > a:before {
	border-bottom-color: #bdd4c1;
}