/* line 4, ../sass/labels.scss */
* { box-sizing: border-box; }

/* line 8, ../sass/labels.scss */
body { margin: 0; }

/* line 13, ../sass/labels.scss */
.item-list ul { display: flex; flex-wrap: wrap; width: 8.5in; padding: 0.5in 0.203125in; }
/* line 18, ../sass/labels.scss */
.item-list ul li.views-row { width: 2.59375in; height: 1in; margin: 0 0.15625in 0 0; padding: 0 0.15625in; display: flex; flex-direction: column; justify-content: center; }
/* line 23, ../sass/labels.scss */
.item-list ul li.views-row:nth-child(3n) { margin-right: 0; }
