/* line 10, ../sass/main.scss */
.nobreak { white-space: nowrap; }

/* line 14, ../sass/main.scss */
body { font-family: "Catamaran", sans-serif; font-size: 12pt; line-height: 14pt; margin: 24px; }
/* line 19, ../sass/main.scss */
body.page-reports-master { margin: 20px; }

/* line 24, ../sass/main.scss */
input, textarea, select { font-family: "Catamaran", sans-serif; font-size: 12pt; }
/* line 27, ../sass/main.scss */
input[type=submit], textarea[type=submit], select[type=submit] { margin-right: 12px; }

/* line 34, ../sass/main.scss */
#loading-shade { opacity: 0; position: fixed; width: 100%; height: 100%; left: 0; top: 0; background-color: rgba(0, 108, 183, 0.75); transition: opacity 0.2s ease 0s; pointer-events: none; }
/* line 44, ../sass/main.scss */
#loading-shade.loading { opacity: 1; pointer-events: auto; }
/* line 48, ../sass/main.scss */
#loading-shade #spinner { position: absolute; left: 50%; top: 50%; margin-left: -56x; margin-top: -56px; width: 112px; height: 112px; background: url("../images/spinner.svg") center center no-repeat; animation-name: spin; animation-duration: 1s; animation-iteration-count: infinite; }

@keyframes spin { 0% { transform: scale(0.7, 0.7); }
  50% { transform: scale(1, 1); }
  100% { transform: scale(0.7, 0.7); } }
/* line 75, ../sass/main.scss */
fieldset { border: solid 1px #dddddd; }

/* line 79, ../sass/main.scss */
table { font-family: "Catamaran", sans-serif; font-size: 10pt; line-height: 10pt; min-width: 100%; }
/* line 84, ../sass/main.scss */
table a { text-decoration: none; }
/* line 88, ../sass/main.scss */
table tr.even { background-color: #eee; }
/* line 90, ../sass/main.scss */
table tr.even.row-selected { background-color: #d1ecff; }
/* line 94, ../sass/main.scss */
table tr.odd { background-color: white; }
/* line 96, ../sass/main.scss */
table tr.odd.row-selected { background-color: #eaf6ff; }
/* line 100, ../sass/main.scss */
table tr th { border: none; background-color: black; color: white; }
/* line 104, ../sass/main.scss */
table tr th a { color: #b7e1ff; -webkit-transition: background-color 0.2s; -moz-transition: background-color 0.2s; -ms-transition: background-color 0.2s; -o-transition: background-color 0.2s; transition: background-color 0.2s; }
/* line 111, ../sass/main.scss */
table tr th a:hover { color: #51b8ff; }
/* line 116, ../sass/main.scss */
table tr th, table tr td { padding: 5px; }
/* line 120, ../sass/main.scss */
table tr td a { display: inline-block; padding: 3px; margin: 2px 0; background-color: rgba(0, 108, 183, 0.2); border-radius: 3px; color: black; }
/* line 127, ../sass/main.scss */
table tr td a:hover { color: white; background-color: #006cb7; }

/* line 136, ../sass/main.scss */
caption { font-size: 12pt; font-weight: bold; line-height: 14pt; margin: 12pt 0 6pt; }

/* line 143, ../sass/main.scss */
label { margin-bottom: 6px; }

/* line 148, ../sass/main.scss */
.item-list ul { list-style-type: none; }
/* line 150, ../sass/main.scss */
.item-list ul li { margin: 0 0 10px 0; }

/* line 156, ../sass/main.scss */
.rollout { overflow: hidden; height: 9pt; cursor: pointer; }
/* line 161, ../sass/main.scss */
.rollout .row.first { white-space: nowrap; font-weight: bold; }
/* line 164, ../sass/main.scss */
.rollout .row.first::before { content: " "; display: inline-block; background: url("../images/plusminus.svg") no-repeat 0 0/18px 18px; width: 9px; height: 9px; margin-right: 4px; }
/* line 174, ../sass/main.scss */
.rollout:hover { color: #682e82; }
/* line 176, ../sass/main.scss */
.rollout:hover .row.first::before { background-position: -9px 0; }
/* line 180, ../sass/main.scss */
.rollout.open { height: auto; }
/* line 182, ../sass/main.scss */
.rollout.open::before { background-position: 0 -9px; }
/* line 186, ../sass/main.scss */
.rollout.open:hover::before { background-position: -9px -9px; }

/* line 194, ../sass/main.scss */
.view-committee-choices table { table-layout: fixed; }
/* line 198, ../sass/main.scss */
.view-committee-choices td:nth-child(1), .view-committee-choices th:nth-child(1) { width: 15%; }
/* line 201, ../sass/main.scss */
.view-committee-choices td:nth-child(2), .view-committee-choices th:nth-child(2) { width: 15%; }
/* line 204, ../sass/main.scss */
.view-committee-choices td:nth-child(3), .view-committee-choices th:nth-child(3) { width: 15%; }
/* line 207, ../sass/main.scss */
.view-committee-choices td:nth-child(4), .view-committee-choices th:nth-child(4) { width: 10%; }
/* line 210, ../sass/main.scss */
.view-committee-choices td:nth-child(5), .view-committee-choices th:nth-child(5) { width: 17.5%; }
/* line 213, ../sass/main.scss */
.view-committee-choices td:nth-child(6), .view-committee-choices th:nth-child(6) { width: 17.5%; }
/* line 216, ../sass/main.scss */
.view-committee-choices td:nth-child(7), .view-committee-choices th:nth-child(7) { width: 5%; }
/* line 219, ../sass/main.scss */
.view-committee-choices td:nth-child(8), .view-committee-choices th:nth-child(8) { width: 5%; }
