body {
  margin: .5in;
  font-size: 10pt
}

#singer-info {
  display: flex;
  flex-wrap: wrap;
  max-width: 7.5in
}

#singer-info h1 {
  margin-top: 0
}

#singer-info .note {
  width: 100%
}

#singer-info h2 {
  width: 100%
}

#singer-info .field {
  display: flex;
  align-items: baseline;
  width: 100%
}

#singer-info .field.non-flex {
  display: block
}

#singer-info .field.photo-permission p {
  margin: 0
}

#singer-info .field.half {
  width: 50%
}

#singer-info .field.third {
  width: 33%
}

#singer-info .field.fourth {
  width: 25%
}

#singer-info .field label {
  display: inline-block;
  margin-right: 6px
}

#singer-info .field label:after {
  content: ":"
}

#singer-info .field input {
  line-height: 18px;
  border-width: 0 0 1px 0;
  border-color: #000000
}

#singer-info .field input[type=text] {
  flex-grow: 1;
  font-size: 10pt
}

#singer-info .field input[disabled] {
  color: #000000;
  background-color: transparent
}
