$gcc_blue: #006cb7;
$gcc_purple: #682e82;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.item-list {
  ul {
    display: flex;
    flex-wrap: wrap;
    width: 8.5in;
    padding: 0.5in 0.203125in;
    li.views-row {
      width: 2.59375in;
      height: 1in;
      margin: 0 0.15625in 0 0;
      padding: 0 0.15625in;
      &:nth-child(3n) {
        margin-right: 0;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
