@function image-url($filename) {
  @return url('../images/#{$filename}');
}

$main_font: 'Catamaran';

$gcc_blue: #006cb7;
$gcc_purple: #682e82;

.nobreak {
  white-space: nowrap;
}

body {
  font-family: $main_font, sans-serif;
  font-size: 12pt;
  line-height: 14pt;
  margin: 24px;
  &.page-reports-master {
    margin: 20px;
  }
}

input, textarea, select {
  font-family: $main_font, sans-serif;
  font-size: 12pt;
  &[type=submit] {
    margin-right: 12px;
  }
}

// Page loads screened and then is brought to full opacity by JS when page
// finishes loading.
#loading-shade {
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: transparentize($gcc_blue, 0.25);
  transition: opacity 0.2s ease 0s;
  pointer-events: none;
  &.loading {
    opacity: 1;
    pointer-events: auto;
  }
  #spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -56x;
    margin-top: -56px;
    width: 112px;
    height: 112px;
    background: image-url('spinner.svg') center center no-repeat;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}

@keyframes spin {
  0% {
    transform: scale(0.7, 0.7);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.7, 0.7);
  }
}

fieldset {
  border: solid 1px #dddddd;
}

table {
  font-family: $main_font, sans-serif;
  font-size: 10pt;
  line-height: 10pt;
  min-width: 100%;
  a {
    text-decoration: none;
  }
  tr {
    &.even {
      background-color: #eee;
      &.row-selected {
        background-color: lighten($gcc_blue, 55%);
      }
    }
    &.odd {
      background-color: white;
      &.row-selected {
        background-color: lighten($gcc_blue, 60%);
      }
    }
    th {
      border: none;
      background-color: black;
      color: white;
      a {
        color: lighten($gcc_blue, 50%);
        -webkit-transition: background-color 0.2s;
        -moz-transition: background-color 0.2s;
        -ms-transition: background-color 0.2s;
        -o-transition: background-color 0.2s;
        transition: background-color 0.2s;
        &:hover {
          color: lighten($gcc_blue, 30%);
        }
      }
    }
    th, td {
      padding: 5px;
    }
    td {
      a {
        display: inline-block;
        padding: 3px;
        margin: 2px 0;
        background-color: transparentize($gcc_blue, 0.8);
        border-radius: 3px;
        color: black;
        &:hover {
          color: white;
          background-color: $gcc_blue;
        }
      }
    }
  }
}

caption {
  font-size: 12pt;
  font-weight: bold;
  line-height: 14pt;
  margin: 12pt 0 6pt;
}

label {
  margin-bottom: 6px;
}

.item-list {
  ul {
    list-style-type: none;
    li {
      margin: 0 0 10px 0;
    }
  }
}

.rollout {
  overflow: hidden;
  height: 9pt;
  cursor: pointer;
  .row {
    &.first {
      white-space: nowrap;
      font-weight: bold;
      &::before {
        content: " ";
        display: inline-block;
        background: image-url('plusminus.svg') no-repeat 0 0 / 18px 18px;
        width: 9px;
        height: 9px;
        margin-right: 4px;
      }
    }
  }
  &:hover {
    color: $gcc_purple;
    .row.first::before {
      background-position: -9px 0;
    }
  }
  &.open {
    height: auto;
    &::before {
      background-position: 0 -9px;
    }
    &:hover {
      &::before {
        background-position: -9px -9px;
      }
    }
  }
}

.view-committee-choices {
  table {
    table-layout: fixed;
  }
  td, th {
    &:nth-child(1) {
      width: 15%
    }
    &:nth-child(2) {
      width: 15%
    }
    &:nth-child(3) {
      width: 15%
    }
    &:nth-child(4) {
      width: 10%
    }
    &:nth-child(5) {
      width: 17.5%
    }
    &:nth-child(6) {
      width: 17.5%
    }
    &:nth-child(7) {
      width: 5%
    }
    &:nth-child(8) {
      width: 5%
    }
  }
}
