@function image-url($filename) {
  @return url('../images/#{$filename}');
}

@import url("https://use.typekit.net/aeq0jkv.css");
$red: #ed1c24;
$orange: #f7941e;
$yellow: #ffcb05;
$green: #50b848;
$blue: #009edb;
$violet: #6950a1;
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.item-list {
  ul {
    display: flex;
    flex-wrap: wrap;
    width: 8.5in;
    padding: 1.25in 0.75in;

    li.views-row {
      background-image: image-url('cropmark.svg'), image-url('cropmark.svg'), image-url('cropmark.svg'), image-url('cropmark.svg');
      background-position: -6px -6px, calc(100% + 6px) -6px, -6px calc(100% + 6px), calc(100% + 6px) calc(100% + 6px);
      background-repeat: no-repeat;
      width: 3.5in;
      height: 2.125in;
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }
}

.views-field-field-first-name {
  font: 500 36pt/43.2pt museo;
}

.views-field-field-last-name {
  font: 700 24pt/28.8pt museo;
}

.views-field-field-ensemble {
  font: 700 18pt/36pt museo;
  text-transform: uppercase;
}

.red {
  .views-field-field-first-name, .views-field-field-last-name {
    color: $red;
  }
}

.orange {
  .views-field-field-first-name, .views-field-field-last-name {
    color: $orange;
  }
}

.yellow {
  .views-field-field-first-name, .views-field-field-last-name {
    color: $yellow;
  }
}

.green {
  .views-field-field-first-name, .views-field-field-last-name {
    color: $green;
  }
}

.blue {
  .views-field-field-first-name, .views-field-field-last-name {
    color: $blue;
  }
}

.violet {
  .views-field-field-first-name, .views-field-field-last-name {
    color: $violet;
  }
}
