body {
  margin: 0.5in;
  font-size: 10pt;
}

#singer-info {
  display: flex;
  flex-wrap: wrap;
  max-width: 7.5in;

  h1 {
    margin-top: 0;
  }

  .note {
    width: 100%;
  }

  h2 {
    width: 100%;
  }

  .field {
    display: flex;
    align-items: baseline;
    width: 100%;

    &.non-flex {
      display: block;
    }

    &.photo-permission {
      p {
        margin: 0;
      }
    }

    &.half {
      width: 50%;
    }

    &.third {
      width: 33%;
    }

    &.fourth {
      width: 25%;
    }

    label {
      display: inline-block;
      margin-right: 6px;

      &:after {
        content: ':';
      }
    }

    input {
      line-height: 18px;
      border-width: 0 0 1px 0;
      border-color: black;

      &[type=text] {
        flex-grow: 1;
        font-size: 10pt;
      }

      &[disabled] {
        color: black;
        background-color: transparent;
      }
    }
  }
}


