// This is based on an 1140px width and 12px gutters between blocks.
$col1: 6.40351%;
$col2: 14.91228%;
$col3: 23.42105%;
$col4: 31.92982%;
$col5: 40.43860%;
$col6: 48.94737%;
$col7: 57.45614%;
$col8: 65.96491%;
$col9: 74.47368%;
$col10: 82.98246%;
$col11: 91.49123%;
$col12: 100.00000%;
$gutter: 2.10526%;
$gcc_blue: #006cb7;
$gcc_purple: #682e82;
@function image-url($filename) {
  @return url('../images/#{$filename}');
}

@mixin nobefore {
  &:before, &:after {
    display: none;
  }
}

a {
  color: $gcc_blue;

  &:hover, &:focus {
    color: $gcc_purple;
  }
}

@mixin setup-form-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.node-singer-form {
  > div {
    @include setup-form-grid-container;
    padding-bottom: 48px;

    .field-name-field-first-name,
    .field-name-field-last-name {
      width: $col4;
    }

    .field-name-field-cell-phone,
    .field-name-field-sex {
      width: $col2;
    }

    .field-name-field-mailing-address {
      width: $col6;
    }

    .field-name-field-city,
    .field-name-field-state,
    .field-name-field-zip-code {
      width: $col2;
    }

    .field-name-field-school {
      width: $col6;
    }

    .field-name-field-k-start-year,
    .field-name-field-birthdate,
    .field-name-field-t-shirt-size {
      width: $col2;
    }

    fieldset {
      width: $col12;

      .panel-body {
        @include setup-form-grid-container;
        @include nobefore;

        .help-block {
          width: $col12;
        }

        .field-name-field-parent-1-relationship,
        .field-name-field-parent-1-first-name,
        .field-name-field-parent-1-last-name,
        .field-name-field-parent-2-relationship,
        .field-name-field-parent-2-first-name,
        .field-name-field-parent-2-last-name,
        .field-name-field-emergency-contact-relation,
        .field-name-field-emergency-contact-first-na,
        .field-name-field-emergency-contact-last-nam {
          width: $col4;
        }

        .field-name-field-parent-1-phone,
        .field-name-field-parent-1-email,
        .field-name-field-parent-2-phone,
        .field-name-field-parent-2-email,
        .field-name-field-emergency-contact-phone {
          width: $col6;
        }

        .field-name-field-ensemble {
          width: $col2;
        }

        .field-name-field-current-member,
        .field-name-field-info-updated,
        .field-name-field-is-alumni,
        .field-name-field-is-graduate,
        .field-name-field-contract-received {
          width: $col2;
          padding-top: 31px;
        }

        .field-name-field-start-year-fall,
        .field-name-field-end-year-spring,
        .field-name-field-grant-amount {
          width: $col4;
        }

        .field-name-field-committee-parent,
        .field-name-field-committee-choice-1,
        .field-name-field-committee-choice-2 {
          width: $col4;
        }

        .field-name-field-committee-chair,
        .field-name-field-board {
          width: $col6;
        }
      }
    }

    .field-name-field-medical-concerns,
    .field-name-field-allergies {
      width: $col6;
    }
  }

  .tabledrag-toggle-weight-wrapper {
    display: none;
  }
}

@mixin single-tile($color, $compact) {
  // $compact can be compact or regular.
  @if $compact == compact {
    width: $col3;
  } @else {
    width: $col6;
  }
  margin-bottom: 24px;
  .node {
    @if $compact == compact {
      padding: 12px;
    } @else {
      padding: 24px;
    }
    position: relative;
    background-color: lighten($color, 60%);
    border-radius: 4px;
    height: 100%;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -ms-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;

    &:hover {
      background-color: lighten($color, 50%);
    }

    a {
      color: $color;

      &:hover {
        color: darken($color, 50%);
      }
    }

    &::before { // Stars
      content: ' ';
      display: block;
      position: absolute;
      width: 24px;
      height: 24px;
      @if $compact == compact {
        right: 12px;
        top: 12px;
      } @else {
        right: 24px;
        top: 24px;
      }
    }

    &.node-singer-inactive {
      background-color: white;
      border: dashed 2px $gcc_blue;

      &.node-singer-girl {
        background-color: white;
        border-color: $gcc_purple;
      }
    }

    &.node-singer-girl {
      background-color: lighten($gcc_purple, 60%);

      &:hover {
        background-color: lighten($gcc_purple, 50%);
      }

      a {
        color: $gcc_purple;

        &:hover {
          color: darken($gcc_purple, 50%);
        }
      }
    }

    h2 {
      margin: 0;
      @if $compact == compact {
        font-size: 24px;
      }
    }

    ul {
      margin: 0;

      li {
        padding: 0;
      }
    }

    .submitted {
      display: block;
    }

    @if $compact == compact {
      .submitted {
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 3px;
      }
    }
  }
}

.star_active {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: image-url('star_active.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px 23.5px;
  vertical-align: middle;
}

.view-header {
  margin-bottom: 24px;
}

@mixin singer-tiles($color, $compact) {
  // $compact can be compact or regular.
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .views-row {
    @include single-tile($color, $compact);
  }
}

.front {
  .view-your-singers {
    .view-content {
      @include singer-tiles($gcc_blue, regular);
    }
  }

  #block-block-1 {
    @include single-tile($gcc_blue, regular);
  }

  &.admin, &.subadmin {
    .view-your-singers {
      .view-content {
        @include singer-tiles($gcc_blue, compact);
      }
    }

    #block-block-1 {
      @include single-tile($gcc_blue, compact);
    }
  }

  .form-control {
    height: auto;
  }
}

.not-admin, .subadmin {
  .vertical-tabs {
    height: 0;
    overflow: hidden;
  }
}

.date-form-element-content-multiline {
  padding: 0;
  border: none;
}

.nobreak {
  white-space: nowrap;
}

h2 {
  a {
    -webkit-transition: color 0.2s;
    -moz-transition: color 0.2s;
    -ms-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;

    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

#block-menu-menu-admin-reports {
  margin-bottom: 36px;

  ul.nav {
    @include nobefore;

    & > li {
      display: inline-block;
      margin-right: 6px;
      margin-bottom: 10px;

      & > a {
        background-color: $gcc_blue;
        color: white;
        border-radius: 25px;
        transition: background-color 0.2s;

        &:hover, &.active {
          background-color: $gcc_purple;
        }
      }
    }
  }
}

#block-user-login {
  border: solid 1px #cccccc;
  border-radius: 4px;
  padding: 24px;
  margin-top: 48px;
  background-color: #f0f0f0;
  margin-bottom: 48px;
}

.node-unpublished {
  background-color: transparent;
}

.page-quickcreate-families form {
  > div {
    #accounts {
      fieldset {
        width: $col12;

        .panel-body {
          @include setup-form-grid-container;
          @include nobefore;
        }
      }

      margin-bottom: 15px;
    }

    .form-item {
      width: $col6;
    }
  }
}

.page-quickcreate-singers form {
  > div {
    #accounts {
      fieldset {
        width: $col12;

        .panel-body {
          @include setup-form-grid-container;
          @include nobefore;
        }
      }

      margin-bottom: 15px;
    }

    .form-item {
      &:nth-child(1) {
        width: $col3;
      }

      &:nth-child(2) {
        width: $col3;
      }

      &:nth-child(3) {
        width: $col2;
      }

      &:nth-child(4) {
        width: $col2;
      }

      &:nth-child(5) {
        width: $col2;
      }
    }
  }
}

.page-node-10455 {
  .block-views {
    margin-right: 24px;
    flex: 1 1 auto;
  }

  .region-content {
    display: flex;
  }
}

#grade_modal {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;

  .message {
    position: absolute;
    width: 24%;
    height: 24%;
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    left: 38%;
    top: 38%;
    padding: 24px;

    p {
    }
  }
}

table.visible-grid {
  th {
    color: white;
    background-color: black;
  }

  th, td {
    border: solid 1px black;
    padding: 5px;
  }
}

.page-node-submission {
  h1.page-header, ol.breadcrumb {
    display: none;
  }
}

h2.disabled {
  color: #d0d0d0;
}

.active-member-flag {
  color: $gcc_blue;
}

.inactive-member-flag {
  color: rgba(0, 0, 0, 0.6);
}

.fill-out-flag {
  color: #d71d1d !important;
  font-weight: bold;
}
